
/* FOOTER: END */
.footer{
    padding: 0 135px;
  }
  .footer-top{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 23px;
  }
  .footer-colum h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
  }
  .footer-colum span{
    color: #31C3E0;
    font-weight: 600;
    text-decoration: none;
  }
  .footer-colum p{
      padding-top: 23px;
      color: #676A6C;
      font-size: 12px;
  }
  .footer-colum ul{
    list-style: none;
    padding: 0;
  }
  .footer-colum ul li {
    padding-top:23px ;
    a{
      text-decoration: none;
      color: #676A6C;
      font-size: 12px;
      transition: color 0.3s;
    }
  }.footer-top {
    border-bottom: 1px solid #D2D0C036;
    padding-bottom: 40px;             /* cách nội dung thêm một chút */
    margin-bottom: 50px; 
  }
  
  .footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 20px;
  }
  .footer-menu{
      list-style: none;
      display: flex;
      gap: 32px;
     a {
      text-decoration: none;
      color: #6A6F77;
      font-weight: 500;
    }
  }
  .footer-menu a:hover{
    color: #2D3134;
  }
  .footer-icon a{
    text-decoration: none;
    color: #BCBCBC;
    border: 1px solid #F5F5F5;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
