/* HEADER: BEGIN */
.site-header-bar {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  align-items: center;
  padding: 32px 135px;
  .brand-logo {
    width: 36px;
    height: 36px;
  }
  .brand {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #000;
    .brand-name {
      font-size: 24px;
      font-weight: bold;
    }
    .brand-dot {
      color: #ff7b29;
    }
  }
  button {
    background-color: var(--scd-color);
    width: 131px;
    height: 48px;
    border-radius: 8px;
    color: #fff;
    border: none;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.nav-list {
  display: flex;
  a {
    color: #000;
  }
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
}
.nav-item a {
  margin: 0 16px;
  padding: 5px 0;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
}
.nav-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: #ff7b29;
  border-radius: 10px;
  transition: width 0.3s ease;
}
.nav-item a:hover::after,
.nav-item a.active::after {
  width: 15px;
}
/* HEADER: END */
