/* tiáº¿n */
/* main */
.main-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 56px;
  padding: 186px 135px;
}
.blog-left img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.blog-left h1{
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  margin-top: 24px;
}
.blog-title h2{
  margin-top: 30px;
  font-size: 24px;
  color: #FF7B29;
}
.blog-title p{
  margin-top: 20px;
  font-size: 16px;
  color: #676A6C;
}
.card{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 26px;
  border: none;
}
.card img{
  margin-top: 30px;
  width: 100%;
  height: 199px;
}
.main-img {
  margin-top: 30px;
  width: 626px;
  height: 416px;
  object-fit: cover;
  border-radius: 10px;
}

.blog-right{
  background-color: #ECECEC;
  border-radius: 10px;
  padding: 30px;
  height: 740px;
}
.box{
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}
.box input{
  padding: 15px 200px;
  border: 1px solid #fff;
  border-radius: 8px;
  font-size: 14px;
}
.box button {
  background: #FF7B29;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.blog-right h3{
  font-size: 24px;
  color: #2D3134;
  margin-bottom: 30px;
}
.item{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 45px;
}
.item img{
  border-radius: 8px;
  width: 100px;
  height: 90px;
  object-fit: cover;
}
.item p{
  font-size: 20px;
  color: #2D3134;
}
