* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BANNER: BEGIN */
.hero-content {
  display: flex;
  flex: 0 0 1;
  justify-content: space-between;
  align-items: center;
}

.hero-inf {
  width: 453px;
  h1 {
    font-size: 62px;
    font-weight: 700;
    margin-bottom: 17px;
  }
  .hero-desc {
    color: #676a6c;
    margin-bottom: 51px;
  }
  .hero-actions {
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    .btt-primary {
      width: 191px;
      height: 66px;
      border-radius: 12px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;
    }
    .play-but {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 64px;
      a {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}

.hero-visual {
  width: 492px;
  height: 510.62px;
}

.hero-stats {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 200px;
}

.stat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .stat-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #aaaaaa;
  }
  .stat-data {
    display: flex;
    flex-direction: column;
    .stat-value {
      font-size: 30px;
      font-weight: 800;
    }
    .stat-label {
      font-size: 14px;
      font-weight: 400;
      color: #777f8b;
    }
  }
}
/* BANNER: END */

/* SEARCHBAR: END */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  gap: 40px;
  max-width: 749px;
  min-height: 114px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #aaaaaa;
  label {
    font-size: 16px;
    font-weight: 600;
  }
  .search-field {
    display: flex;
    flex-direction: column;
    gap: 12px;
    select {
      border: none;
      left: 0;
      font-size: 14px;
      color: #697280;
    }
  }
  .search-but {
    position: relative;
    i {
      font-size: 14px;
      position: absolute;
      top: 41%;
      left: 23%;
    }
  }
  button {
    width: 170px;
    height: 64px;
    background-color: #132742;
    color: #fff;
    border-radius: 8px;
  }
}
/* SEARCHBAR: END */

/* BESTTOUR: START */
.section-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .about-bestt {
    width: 507px;
    height: 144px;
  }
  h2 {
    font-size: 40px;
    font-weight: bold;
  }
  p {
    color: #676a6c;
    font-size: 16px;
  }
  button {
    width: 191px;
  }
}

.cards {
  display: grid;
  gap: 40px;
  align-items: start;
  margin: 140px auto;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  justify-content: space-between;
  img {
    width: 364px;
    height: 350px;
    object-fit: cover;
  }
  .card {
    display: flex;
    flex-direction: column;
    height: 100%;

    border-radius: 16px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
    .price {
      color: var(--primary-color);
      font-size: 24px;
      font-weight: bold;
    }
    .tour-card-image {
      width: 100%;
      aspect-ratio: 16 / 11;
      object-fit: cover;
      display: block;
    }
    .tour-card-body {
      width: 100%;
      background-color: #fff;
      padding: 20px;
      height: 178px;
      box-shadow: 1px 1px 5px #aaaaaa;
      flex: 1;
      padding: 20px;
      h3 {
        font-size: 20px;
        font-weight: 600;
      }
      span {
        font-size: 14px;
        color: #676a6c;
      }
    }
    .price {
      color: var(--primary-color);
      font-weight: 700;
      font-size: 24px;
    }
    .tour-card-footer span {
      margin-right: 12px;
    }
  }
}
/* BESTTOUR: END */

/* WHY: START */
.why-choose {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.why-content {
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 40px;
    font-weight: 700;
  }
  .section-subtitle {
    color: #676a6c;
    font-size: 16px;
    margin-bottom: 60px;
  }
}

.why-item {
  display: flex;
  margin-bottom: 40px;
  h3 {
    font-size: 16px;
    font-weight: 600;
  }
  .why-item-desc {
    font-size: 14px;
    color: #676a6c;
  }
  .why-img {
    width: 54px;
    height: 53.9px;
  }
}
/* WHY: END */

/* TRENDING: BEGIN */
#trending {
  margin: 140px 0;
}

.trending-head {
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: 40px;
    font-weight: 700;
  }
  .section-subtitle {
    font-size: 16px;
    color: #676a6c;
  }
  .carousel-controls-btn {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #676a6c;
    background-color: #fff;
  }
  .carousel-controls-btn:hover {
    background-color: var(--primary-color);
  }
}

.trending-track {
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  max-width: 100%;
  overflow: hidden;
  .trend-card {
    padding: 15px;
    width: 386px;
    height: 438px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    img {
      width: 356px;
      height: 190px;
      border-radius: 8px;
    }
  }
  .trend-card-body {
    margin: 20px 15px;
    h3 {
      font-size: 20px;
      font-weight: 600;
    }
    .trend-card-meta {
      font-size: 12px;
      font-weight: 500;
      color: #8a8a8a;
    }
  }
  .trend-price {
    display: flex;
    justify-content: space-between;
    .trending-price {
      font-size: 24px;
      font-weight: 700;
    }
    button {
      width: 100px;
      height: 38px;
      background-color: #fff;
      border: 1px solid var(--scd-color);
      color: var(--scd-color);
      border-radius: 8px;
    }
    button:hover {
      background-color: var(--scd-color);
      color: #fff;
    }
  }
  .trending-footer {
    display: flex;
    margin-top: 12px;
    gap: 15px;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
    }
    .trending-footer-logo {
      width: 40px;
      height: 40px;
      border: 1px solid #f1f1f1;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
/* TRENDING: END */

/* DESTINATION: BEGIN */
.destinations {
  margin: 140px auto;
}

.destination-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  margin-block: 20px 28px;
  button {
    width: 233px;
  }
}
.destination-title h2 {
  font-size: 40px;
  font-weight: 700;
}
.destination-title p {
  color: #8a8a8a;
}

.cards-destination {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.destination-card {
  position: relative;
  overflow: hidden;
  /* border-radius: 18px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
  background: #eee; */
}
.destination-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: saturate(95%);
}

.i1 {
  grid-column: 1;
  grid-row: 1;
}

.i2 {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.i3 {
  grid-column: 3 / span 4;
  grid-row: 1;
}

.i4 {
  grid-column: 1;
  grid-row: 2;
}

.i5 {
  grid-column: 3;
}

.i6 {
  grid-column: 4;
}

@media (max-width: 1024px) {
  .cards-destination {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 220px;
  }

  .i1 {
    grid-column: 1;
    grid-row: 1;
  }

  .i2 {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .i3 {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  .i4 {
    grid-column: 1;
    grid-row: 4;
  }

  .i5 {
    grid-column: 1 / span 2;
    grid-row: 5;
  }

  .i6 {
    grid-column: 2;
    grid-row: 4;
  }
}

@media (max-width: 640px) {
  .cards-destination {
    grid-template-columns: 1fr;
    grid-auto-rows: 220px;
  }
  .i1,
  .i2,
  .i3,
  .i4,
  .i5,
  .i6 {
    grid-column: 1;
    grid-row: auto;
  }
  .i2 {
    grid-row: span 2;
  }
}

/* DESTINATION: END */

/* Tour Trips: BEGIN */
.tour-trips {
  text-align: center;
  .tour-trip-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 140px;
  }
  .tour-trip-title {
    margin-bottom: 50px;
  }
  .tour-dot {
    color: var(--primary-color);
  }
  .tour-trip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #676a6c;
    border-radius: 8px;
    width: 270px;
    height: 240px;
  }
}
/* Tour Trips: END */

/* user-say: BEGIN */
.user-say {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .user-say-image {
    grid-column: 1;
  }
  .user-say-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .user-say-content {
    grid-column: 2 / span 2;
    padding: 200px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    p {
      font-size: 16px;
      color: #676a6c;
      font-style: italic;
    }
  }
  .user-say-author {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      object-fit: cover;
    }
    .user-say-desc {
      display: flex;
      flex-direction: column;
      margin: 0;
      h2 {
        font-size: 14px;
      }
      span {
        font-size: 12px;
        color: #676a6c;
        margin-bottom: 5px;
      }
    }
    .rating {
      display: flex;
    }
  }
}
/* user-say: END */

/* GUIDES: BEGIN */

/* GUIDES: END */

/* SUBCRIBE: BEGIN */

/* SUBCRIBE: END *
