/* tien */
/* box */
.box{
    display: flex;
    justify-content: center;
    
}
.box-container{
    display: flex;
    align-items: center;
    padding: 18px 26px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    gap: 32px;
}
.box-item{
    display: flex;
    flex-direction: column;
}
.box-item label{
    font-size: 16px;
    font-weight: 600;
    color: #0A192D;
}
.box-item select{
    margin-top: 5px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #697280;
}
.btn-search{
    background-color: #132742;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 12px 28px;
    gap: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.main-container{
    padding: 100px 130px;
    background-color: #FFFFFF;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    justify-items: center;
}
.card{
    background: #ECECEC;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    border: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.card:hover{
    transform: translate(-6px);
}
.card img{
    width: 100%;
    height: 373px;
    object-fit: cover;
}
.title{
    padding: 30px 30px;
    h2{
        font-size: 40px;
          font-weight: 600;
          color: #2D3134;
        }
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #676A6C;
    font-size: 16px;
}
.price{
    font-size: 24px;
    color: #2D3134;
}